* {
  background-color: bisque;
  padding: 5px 10px 10px 5px;
  box-sizing: border-box;
}

.img1 {
  max-width: 60%;
  height: auto;
  border-radius: 40%;
  border: 8px solid ;
  display: block;
  margin: auto;
  
}

h1, h2, h3 { 
  font-family: sans-serif;
  text-align: center;
}
.lists{
  text-align: left;
  font-size: larger;
}

.link {
  font-size: medium;
}
ol {
  color:rgb(55, 161, 55);
  text-align: left;
}
ul {
  color:rgb(194, 117, 16);
}
.grid-container {
  display: grid;
  grid-template-columns: 50%;
  grid-gap: 10px; /* Add some gap between the grid items */
}

.grid-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 100%;
  height: auto;
}
.grid-container {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 50% 50%;
}

.grid-container > div {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 90%;
  height: auto;
}
.dogfacts {
  color: black;
  font-size: x-large;
}
